@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Oswald", sans-serif;
  
  --color-primary: #F97316; /* Orange from logo */
  --color-secondary: #9CA3AF; /* Silver from logo */
  --color-dark: #0A0A0A;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-black text-white font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display uppercase tracking-tight;
  }
}

.glass-card {
  @apply bg-white/5 backdrop-blur-md border border-white/10;
}
/* .image{
  background-image: src(https://scontent-mct1-2.xx.fbcdn.net/v/t39.30808-6/480342128_652318513971045_2338719670986037433_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=13d280&_nc_ohc=GYW73ALiV6MQ7kNvwGyCrNa&_nc_oc=Admto2-3mEX9ZsSq4BrJ47RS-1uXi9fGX_WSIjecKtWW8QQ937UP5N7ixnZZ9auL_ok&_nc_zt=23&_nc_ht=scontent-mct1-2.xx&_nc_gid=WMLGMUL_mwRXHONBNabUyA&oh=00_Aft7yVT214E1khDluHlWIY9I5GSjdgJbqqiT6XBk_RMzEQ&oe=699FB1A7)
} */
.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-primary to-orange-400;
}

.btn-primary {
  @apply bg-primary text-black font-bold py-3 px-8 rounded-none uppercase tracking-widest transition-all hover:bg-white hover:text-black;
}

.section-title {
  @apply text-5xl md:text-7xl font-bold mb-4 relative inline-block;
}

.section-subtitle {
  @apply text-primary font-bold uppercase tracking-[0.3em] mb-2 block text-sm;
}
